<h3>商品一覧</h3>

  <div class="items d-flex flex-wrap" >
    <% @items.each do |item| %>
    <%= link_to item_path(item), class:"商品詳細" do %>
      <%= image_tag item.get_image(200,200) %><br><%= item.name %><br><%= item.price %>
    <% end %>
  <% end %>
  </div>