<h3>商品一覧</h3>

  <div class="items d-flex flex-wrap" >
    <% @items.each do |item| %>
    <%= link_to root_path, class:"25%用のクラスbootstrap" do %>
      <%= image_tag item.item_image, size: "200x200" %><br><%= item.name %><br><%= item.price %>
    <% end %>
  <% end %>
  </div>